<div class="select-kit-header-wrapper">
  {{component selectKit.options.selectedNameComponent
    tabindex=tabindex
    item=selectedContent
    selectKit=selectKit
    shouldDisplayClearableButton=shouldDisplayClearableButton
  }}

  {{#unless shouldDisplayClearableButton}}
    {{d-icon caretIcon class="caret-icon"}}
  {{/unless}}
</div>
